@using MagazineApp.Web.Models.MagazinesViewModels;
@model MagazineViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.PublishDate.Value.ToString("MMMM yyyy")</h2>

<div class="magazine-container">
    <div class="row">
        <div class="col-md-4 main-picture">
            <img src="@(Model.MainPicture != null ? String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.MainPicture)) : "#")" class="file-preview-image" title="@Model.PublishDate" style="max-height:150px; max-width:150px;">
        </div>
    </div>
    <h3 style="text-align:center">Magazines</h3>
    <div class="col-md-12 articles-list" style="margin-top:40px;">
        @foreach(var article in Model.Articles) {
            <div class="row article-row">
                <div class="col-md-3 article-picture-container">
                    <img src="@(article.MainPicture != null ? String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(article.MainPicture)) : "#")" class="file-preview-image" title="@article.Caption" style="max-height:100px;">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        @Html.ActionLink(article.Caption, "Details", "Articles", new { id = article.Id }, new { style = "font-weight:bold;font-size:large" })
                    </div>
                    <div class="row">
                        <span>@article.ShortText</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

