@using MagazineApp.Web.Models.ArticlesViewModels;
@model ArticleViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Caption</h2>

<div class="article-picture">
    <img src="@(Model.MainPicture != null ? String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.MainPicture.Content)) : "#")" class="file-preview-image" title="@(Model.MainPicture?.Name ?? string.Empty)">
</div>



<div class="container article-container">
    <div class="body-content">
        @Model.LongText
    </div>
</div>

<div class="article-footer">
    <div class="row">
        <div class="col-md-6">
            <span>@Model.CreateDate.ToString("dd.MM.yyyy")</span>
        </div>
        <div class="col-md-6">
            <span>@($"{Model.Author.Name} {Model.Author.Surname}")</span>
        </div>
    </div>
</div>

<a href="@Url.Action("Index", "Articles")" class="btn btn-default">Back</a>