<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MagazineApp", "Index", "Home", new { area = "Admin" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Admin")) {
                        <li>@Html.ActionLink("Users", "Index", "Users", new { }, new { area = "Admin" })</li>
                    }
                    @if (User.IsInRole("Journalist") || User.IsInRole("Editor")) {
                        <li>@Html.ActionLink("Magazines", "Index", "Magazines", new { }, new { area = "Journalist" } )</li>
                        <li>@Html.ActionLink("Articles", "Index", "Articles", new { }, new { area = "Journalist" })</li>
                    }
                    @if (!User.IsInRole("Admin") && !User.IsInRole("Journalist") && !User.IsInRole("Editor")) {
                        <li>@Html.ActionLink("Magazines", "Index", "Magazines", new { }, new { area = "Reader" })</li>
                        <li>@Html.ActionLink("Articles", "Index", "Articles", new { }, new { area = "Reader" })</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <footer class="navbar-fixed-bottom navbar-inverse row-fluid">
            <div class="row" style="height:40px;">

            </div>
        </footer>
    </div>

    <script src="~/Scripts/fileinput.min.js"></script>

</body>
</html>