@using MagazineApp.Web.Areas.Journalist.Models.MagazinesViewModels;
@model BlankMagazineViewModel

@{
    ViewBag.Title = "Blank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var caption = Model.IsNew
        ? "Create Magazine"
        : "Edit Magazine";
    var action = Model.IsNew
        ? "Create"
        : "Edit";
    var submitText = Model.IsNew
        ? "Add"
        : "Save";
}



<div class="container magazine-container">
    @using (Html.BeginForm(action, "Magazines", FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.MainPicture)
        @Html.HiddenFor(m => m.Number)
        <h2>@caption</h2>
        <hr />

        <div class="form-group">
            <label class="control-label">Select main picture for magazine</label>
            <input id="MainPictureFile" name="MainPictureFile" type="file" class="file-loading" accept="image/*">
        </div>

        <h3>Articles</h3>

        <div class="container articles-container">

            @if (Model.Articles != null && Model.Articles.Count() > 0) {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Picture</th>
                            <th>Caption</th>
                            <th>Short Text</th>
                            <th>Author</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var article in Model.Articles) {
                                <tr>
                                    <td>
                                        <img src="@(article.MainPicture != null ? String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(article.MainPicture)) : "#")" class="file-preview-image" title="@article.Caption">
                                    </td>
                                    <td>@article.Caption</td>
                                    <td>@article.ShortText</td>
                                    <td>@($"{article.Author.Name} {article.Author.Surname}")</td>
                                    <td>
                                        <a href="@Url.Action("Details", "Articles", new { id = article.Id })" class="btn btn-default">Details</a>
                                    </td>
                                    <td>
                                        <button class="btn btn-default remove-article-btn">Remove</button>
                                    </td>
                                </tr>
                            }
                        
                    </tbody>
                </table>
            }
            else {
                <p>The Articles list is empty</p>
            }
            <a href="@Url.Action("Create", "Articles", new { area = "Journalist" })" class="btn btn-default pull-right">Add</a>
        </div>

        <div class="form-group" style="margin-top:50px;">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" class="btn btn-default" value="@submitText" />
            </div>
            <div class="col-md-5">
                <a href="@Url.Action("Index", "Magazines", new { area = "Journalist" })" class="btn btn-default">Cancel</a>
            </div>
        </div>

    }
</div>

<script>


    $(document).on('ready', function () {
        @((Model.MainPicture != null && Model.MainPicture.Length > 0) ? "setFilledUploader();" : "setEmptyUploader();")
    });

    function setEmptyUploader() {
        $("#MainPictureFile").fileinput({
            showCaption: false,
            showUpload: false,
        });
    }

    function setFilledUploader() {
        $("#MainPictureFile").fileinput({
            showCaption: false,
            showUpload: false,
            initialPreview: [
                '<img src="@(Model.MainPicture != null ? String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.MainPicture)) : "#")" class="file-preview-image" alt="Main Picture" title="Main Picture">'
            ]
        });
    }

    $('#MainPictureFile').on('filecleared', function (event) {
        $('#MainPicture').val("");
    });


</script>

